
@{
    ViewBag.Title = "Index";
}

<head>

</head>
<body>
    <div class="container-fluid">
        <table class="table table-hover" id="tableLeaveType">
            <thead>
                <tr>
                    <th>NO.</th>
                    <th>EMPLOYEE ID</th>
                    <th>LEAVE REQUEST ID</th>
                    <th>DURATION</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
</body>

@section Scripts{
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Content/datatables/jquery.dataTables.min.js"></script>
    <link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Scripts/Manager/LeaveTypes/LeaveTypesScript.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}

