
@{
    Layout = "~/Views/Shared/AdminLayout/_LayoutAdministrator.cshtml";
    ViewBag.Title = "Index";
}

<div class="card">
    <div class="card-body">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="ClearScreen();">Create New</button><br /><br />
        <table class="table table-bordered table-striped dataTable no-footer table-responsive" role="grid" aria-describedby="myTable_info" id="tableLeaveRequest">
            <thead>
                <tr>
                    <th>NO.</th>
                    <th>EMPLOYEE</th>
                    <th>MANAGER</th>
                    <th>LEAVE TYPE</th>
                    <th>REASON</th>
                    <th>REQUEST DATE</th>
                    <th>LEAVE DATE</th>
                    <th>END DATE</th>
                    <th>ATTACHMENT</th>
                    <th>STATUS</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Calendar Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="Id">Id</label>
                        <input type="text" class="form-control" id="Id" placeholder="Id" disabled="disabled" />
                        <input type="number" class="form-control" style="display:none;" value="1" id="Employee_Id"/>
                        <input type="number" class="form-control" style="display:none;" value="1" id="Manager_Id" />
                        <input type="text" class="form-control" style="display:none;"  id="Status" />
                    </div>
                    <div class="form-group">
                        <label for="">Start Date</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <span class="icon datepaginator"></span>
                            </div>
                            <input id="From_Date" class="form-control datepicker" placeholder="Insert start date" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">End Date</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <span class="icon datepaginator"></span>
                            </div>
                            <input id="End_Date" class="form-control datepicker" placeholder="Insert End date" type="text">
                            <input id="Request_Date" class="form-control datepicker" style="display:none;" type="text">   
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Leave Type</label>
                        <select class="custom-select col-12" id="LeaveType_Id">
                            <option selected="">Choose</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Reason">Reason</label>
                        <textarea type="text" rows="5" class="form-control" id="Reason" placeholder="Reason"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Attachment">Attachment</label>
                        <input type="text" class="form-control" id="Attachment" placeholder="Attachment" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="Validate();">Add</button>
                <button type="button" class="btn btn-primary" id="Update" style="display:none;" onclick="Validate();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.js"></script>>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.4/themes/blitzer/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/Content/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Content/datatables/jquery.dataTables.min.js"></script>
    <link href="~/Content/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/Content/assets/js/moment.js"></script>
    <script src="~/Content/assets/js/moment-with-locales.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <link href="~/Content/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script type="text/javascript">
         $(function(){
             $(".datepicker").datepicker({
                 beforeShowDay: $.datepicker.noWeekends,
                  format: 'mm/dd/yyyy',
                  autoclose: true,
                  todayHighlight: true
          });
         });
    </script>
    <script type="text/javascript">
        var date = new Date();
        var Request_Date = date.toISOString().slice(0, 10);

        document.getElementById('Request_Date').value = Request_Date;
    </script>
    <script src="~/Scripts/Manager/LeaveRequest/LeaveRequestScript.js"></script>
    
    @Scripts.Render("~/bundles/jqueryval")
}

